/* 背景图 */
.image-bg {
  width: 100%;
  height: 300px;
  background: url('../bgimgs/original.jpg') no-repeat;
  background-size: 100% 100%;
}
.image-bg .image-c {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.image-bg .image-c .count {
  width: 279px;
  animation: don 1s linear forwards;
}
.image-bg .image-c .count .sound {
  font-size: 30px;
  color: #fff;
}
.image-bg .image-c .count .spa {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 25px;
}
.image-bg .image-c .count .spa span {
  color: #fff;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 25px;
  margin-right: 15px;
  padding: 2px;
}
.image-bg .image-c .count .sj {
  margin-top: 25px;
  margin-left: 35px;
  font-size: 14px;
  color: #fff;
}
.image-bg .image-c .count .but {
  width: 220px;
  height: 50px;
  background-color: red;
  font-size: 20px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 7px;
  margin-top: 25px;
  margin-left: 20px;
}
@keyframes don {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* 轮播图 */
.lb {
  width: 100%;
}
.lb .hot {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
.lb .hot h1 {
  color: #4b414c;
}
.lb .swiper-container {
  width: 1000px;
  margin: 0 auto;
  --swiper-navigation-color: #ccc;
  /* 单独设置按钮颜色 */
}
.lb .swiper-container .swiper-wrapper .swiper-slide {
  box-sizing: border-box;
  height: 287px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}
.lb .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 138px;
  border-radius: 5px 5px 0px 0px;
}
.lb .swiper-container .swiper-wrapper .swiper-slide > p:nth-child(2) {
  width: 40px;
  height: 23px;
  border-radius: 0px 5px 0px 5px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 23px;
}
.lb .swiper-container .swiper-wrapper .swiper-slide > p:nth-child(2) a {
  color: #ccc;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt {
  width: 100%;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt p {
  text-align: center;
  font-size: 15px;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt div:nth-child(3) {
  overflow: hidden;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt div:nth-child(3) div:nth-child(1) {
  width: 48px;
  height: 23px;
  border: 1px solid red;
  color: red;
  text-align: center;
  line-height: 23px;
  border-radius: 3px;
  margin-left: 25px;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt div:nth-child(3) div:nth-child(2) {
  width: 48px;
  height: 23px;
  border: 1px solid red;
  color: red;
  text-align: center;
  line-height: 23px;
  border-radius: 3px;
  margin-right: 25px;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt p:nth-child(4) {
  margin-top: 14px;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt p:nth-child(4) span {
  color: red;
}
.lb .swiper-container .swiper-wrapper .swiper-slide .bt p:nth-child(5) {
  color: red;
}
.all_1 {
  background-color: #f3f3f3;
  padding-bottom: 20px ;
}
.all_1 .all_2 {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.all_1 .all_2 h1 {
  color: #4b414c;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.all_1 .all_2 .r {
  margin-top: 21px;
}
.all_1 .all_2 .r a {
  color: red;
  padding-right: 20px;
  background: url(../bgimgs/readMore.png) no-repeat 65px center;
}
.all_1 .all_3 {
  width: 1000px;
  margin: 0 auto;
}
.all_1 .all_3 .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.all_1 .all_3 .list li {
  width: 210px;
  height: 260px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}
.all_1 .all_3 .list li img {
  width: 210px;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}
.all_1 .all_3 .list li h4 {
  padding: 0px 2px;
}
.all_1 .all_3 .list li div:nth-child(3) {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: red;
}
.all_1 .all_3 .list li div:nth-child(4) {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 0px 2px;
}
.all_1 .all_3 .list li div:nth-child(4) span:nth-child(1) {
  background: url(../bgimgs/xin.png) no-repeat center center;
  padding-left: 20px;
}
.all_1 .all_3 .list li div:nth-child(4) span:nth-child(2) {
  background: url(../bgimgs/reply.png) no-repeat center center;
  padding-left: 20px;
}
.dg {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}
.dg .dg-h {
  display: flex;
  justify-content: space-between;
}
.dg .dg-h h1 {
  color: #4b414c;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dg .dg-h .r {
  margin-top: 21px;
}
.dg .dg-h .r a {
  color: red;
  padding-right: 20px;
  background: url(../bgimgs/readMore.png) no-repeat 65px center;
}
.dg .all_3 {
  width: 1000px;
  margin: 0 auto;
}
.dg .all_3 .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dg .all_3 .list li {
  width: 210px;
  height: 260px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 10px;
  position: relative;
  margin-bottom: 20px;
}
.dg .all_3 .list li div:nth-child(5) {
  background: url(../bgimgs/listbg.jpg) no-repeat;
  width: 210px;
  height: 21px;
  position: absolute;
  bottom: -17px;
}
.dg .all_3 .list li img {
  width: 210px;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}
.dg .all_3 .list li h4 {
  padding: 0px 2px;
}
.dg .all_3 .list li div:nth-child(3) {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: red;
}
.dg .all_3 .list li div:nth-child(4) {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.dg .all_3 .list li div:nth-child(4) span:nth-child(1) {
  background: url(../bgimgs/xin.png) no-repeat center center;
  padding-left: 20px;
}
.dg .all_3 .list li div:nth-child(4) span:nth-child(2) {
  background: url(../bgimgs/reply.png) no-repeat center center;
  padding-left: 20px;
}
.f_play {
  background: #f3f3f3;
}
.f_play .f-dg {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.f_play .f-dg h1 {
  color: #4b414c;
  margin-top: 10px;
  margin-bottom: 10px;
}
.f_play .f-dg .r {
  margin-top: 21px;
}
.f_play .f-dg .r a {
  color: red;
  padding-right: 20px;
  background: url(../bgimgs/readMore.png) no-repeat 65px center;
}
.f_play .all_3 {
  width: 1000px;
  margin: 0 auto;
}
.f_play .all_3 .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.f_play .all_3 .list li {
  width: 210px;
  height: 260px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}
.f_play .all_3 .list li img {
  width: 210px;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}
.f_play .all_3 .list li h4 {
  padding: 0px 2px;
}
.f_play .all_3 .list li div:nth-child(3) {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: red;
}
.f_play .all_3 .list li div:nth-child(4) {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 0px 2px;
}
.f_play .all_3 .list li div:nth-child(4) span:nth-child(1) {
  background: url(../bgimgs/xin.png) no-repeat center center;
  padding-left: 20px;
}
.f_play .all_3 .list li div:nth-child(4) span:nth-child(2) {
  background: url(../bgimgs/reply.png) no-repeat center center;
  padding-left: 20px;
}
.f_play .load {
  width: 100px;
  margin: 0 auto;
  font-size: 14px;
  color: red;
  padding-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  background: url(../bgimgs/more.png) no-repeat 0px 7px;
  cursor: pointer;
}
.f_play .load2 {
  width: 100px;
  margin: 0 auto;
  font-size: 14px;
  color: red;
  padding-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  background: url(../bgimgs/loading-icon.gif) no-repeat;
}
.for {
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  width: 690px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px red;
  z-index: 10;
  display: none;
}
.for > .jig {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 18px;
}
.for > .pohe {
  margin-left: 30px;
  margin-top: 20px;
  border: 1px solid #ccc;
  width: 363px;
}
.for > .pohe #poh {
  width: 300px;
  margin: 14px 30px 10px;
  border: none;
  outline: none;
}
.for > .pass {
  margin-left: 30px;
  margin-top: 20px;
  border: 1px solid #ccc;
  width: 363px;
}
.for > .pass #pas {
  width: 300px;
  margin: 14px 30px 10px;
  border: none;
  outline: none;
}
.for > .bmit {
  margin-top: 20px;
  margin-left: 30px;
  overflow: hidden;
  width: 363px;
}
.for > .bmit input {
  margin-top: 14px;
}
.for > .bmit > button {
  float: right;
  background-color: red;
  color: #fff;
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px 20px 20px 20px;
}
.for > p {
  margin-top: 20px;
  margin-left: 30px;
  width: 363px;
  overflow: hidden;
}
.for > p > .papa {
  float: right;
}
.for > p > a {
  color: #000;
  font-size: 14px;
}
.for > .code {
  position: absolute;
  top: 30px;
  right: 50px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
.for > .code > p {
  margin-left: 20px;
  font-size: 16px;
}
.for > .code > .tui {
  width: 10px;
  height: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  position: absolute;
  background-color: #fff;
  color: #000;
  top: -10px;
  right: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.for > .code .tui:hover {
  cursor: default;
}
