header {
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 3px #ccc;
}
.box {
  width: 1000px;
  height: 75px;
  margin: 0 auto;
  overflow: hidden;
}
.box .jg {
  height: 52px;
  width: 133px;
  float: left;
  margin-top: 10px;
}
.box .ul_ {
  overflow: hidden;
  margin-top: 30px;
  float: left;
}
.box .ul_ li:nth-child(1) {
  margin-left: 67px;
}
.box .ul_ li {
  float: left;
  margin-right: 50px;
}
.box .ul_ li > a {
  font-size: 14px;
  color: #000;
}
.box .rig {
  float: right;
  overflow: hidden;
  margin-top: 25px;
}
.box .rig div {
  float: left;
}
.box .rig .fdj {
  width: 20px;
  height: 20px;
}
.box .rig .ims {
  margin-right: 10px;
}
.box .rig .bumit:hover {
  cursor: default;
}
.box .rig .bumit {
  width: 35px;
  height: 20px;
  border: 1px solid red;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.box .rig .bumit a {
  font-family: "微软雅黑", Arail, Tabhoma;
}
.box .rig .zc {
  width: 35px;
  height: 20px;
  border: 1px solid red;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
}
.box .rig .zc a {
  color: #fe5341;
}
.conter {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 25px;
  margin-bottom: 36px;
}
.conter .zc {
  border-left: 6px solid #ff5244;
  margin-top: 28px;
}
.conter .zc a {
  color: #000;
  font-size: 14px;
  padding-left: 19px;
}
.conter .forms {
  width: 402px;
  margin: 0 auto;
  margin-top: 71px;
  overflow: hidden;
}
.conter .forms > div {
  width: 100%;
  height: 70px;
}
.conter .forms > div > div {
  width: 100%;
  height: 52px;
}
.conter .forms input {
  width: 400px;
  height: 49px;
  border-radius: 7px;
  border: 1px solid #ccc;
  text-indent: 11px;
}
.conter .forms .yzm {
  float: left;
  width: 248px;
  height: 49px;
}
.conter .forms .xiao {
  float: right;
  width: 137px;
  height: 49px;
}
.conter .forms .telyzm {
  float: left;
  width: 248px;
  height: 49px;
}
.conter .forms .code {
  float: right;
  width: 137px;
  height: 49px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  color: #aaaaaa;
  background-color: #fff;
  text-align: center;
  line-height: 49px;
  outline: none;
}
.conter .forms #btn {
  width: 400px;
  height: 49px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 49px;
  outline: none;
  border: none;
  border-radius: 7px;
  margin-bottom: 144px;
}
footer {
  background-color: #505050;
  height: 360px;
}
footer .foot {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
footer .foot > img {
  margin-top: 40px;
  float: left;
}
footer .foot > div:nth-child(2) {
  margin-left: 21px;
  margin-top: 40px;
  float: left;
  overflow: hidden;
  width: 130px;
}
footer .foot > div:nth-child(2) img {
  float: left;
}
footer .foot > div:nth-child(2) p {
  float: left;
  font-size: 14px;
}
footer .foot > div:nth-child(2) p a {
  color: grey;
}
footer .foot > div:nth-child(2) :nth-child(2) {
  margin-top: 30px;
}
footer .foot > div:nth-child(2) :nth-child(3) {
  margin-top: 29px;
}
footer .foot > div:nth-child(2) p > a:hover {
  color: red;
}
footer .foot > div:nth-child(3) {
  width: 99px;
  float: left;
  margin-top: 40px;
  margin-left: 25px;
}
footer .foot > div:nth-child(3) h2 a {
  font-weight: 500;
  color: #fff;
}
footer .foot > div:nth-child(3) a {
  color: grey;
}
footer .foot > div:nth-child(3) p:nth-child(2) {
  margin-top: 30px;
}
footer .foot > div:nth-child(3) p {
  font-size: 14px;
}
footer .foot > div:nth-child(4) {
  width: 138px;
  float: left;
  margin-top: 40px;
  margin-left: 25px;
  overflow: hidden;
}
footer .foot > div:nth-child(4) h2 a {
  font-weight: 500;
  color: #fff;
}
footer .foot > div:nth-child(4) a {
  color: grey;
}
footer .foot > div:nth-child(4) p {
  font-size: 14px;
}
footer .foot > div:nth-child(4) div:nth-child(2) {
  margin-top: 30px;
  float: left;
}
footer .foot > div:nth-child(4) div:nth-child(3) {
  margin-top: 30px;
  float: left;
  margin-left: 12px;
}
footer .foot > div:nth-child(5) {
  width: 140px;
  float: left;
  margin-top: 40px;
  margin-left: 25px;
}
footer .foot > div:nth-child(5) h2 a {
  font-weight: 500;
  color: #fff;
}
footer .foot > div:nth-child(5) a {
  color: grey;
}
footer .foot > div:nth-child(5) p:nth-child(2) {
  margin-top: 30px;
}
footer .foot > div:nth-child(5) p {
  font-size: 14px;
}
footer .foot > div:nth-child(6) {
  width: 181px;
  float: right;
  margin-top: 40px;
}
footer .foot > div:nth-child(6) h2 a {
  font-weight: 500;
  color: #fff;
}
footer .foot > div:nth-child(6) a {
  color: grey;
}
footer .foot > div:nth-child(6) p:nth-child(2) {
  margin-top: 30px;
}
footer .foot > div:nth-child(6) p {
  font-size: 14px;
}
footer .foot p:hover a {
  color: red;
}
footer .shang {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}
footer .shang #sh:hover {
  background-color: grey;
}
footer .shang > div:nth-child(1) {
  float: right;
  width: 50px;
  height: 52px;
  background: #e8e8e8;
  position: relative;
  border-radius: 7px;
}
footer .shang > div:nth-child(1) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .shang > div:nth-child(2) {
  margin-top: 70px;
  color: grey;
}
